/* ==========================================================================
	Author: Payam Dowlatyari 
	Personal Portfolio
	https://www.payamd.com/portfolio
========================================================================== */ 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }
/* ==========================================================================
Base
========================================================================== */
html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

html, html a { 
	-webkit-font-smoothing: antialiased; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); 
}

html, button, input, select, textarea { 
	font-family: 'Syne', sans-serif;
}

body { 
	margin: 0; 
	font-family: 'Syne', sans-serif;
	animation: bg-page;
	animation-duration: 3s;
}

@keyframes bg-page {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
}
  
/* ==========================================================================
Links
========================================================================== */
a:focus { outline: none }
a:active, a:hover { outline: none }
/* ==========================================================================
Typography
========================================================================== */

h1 { font-size: 2em; margin: 0.67em 0;  }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

p, pre { margin: 1em 0;}

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
.tab {padding-left: 10px;}


#small-resume{
	font-size: 0.6em;
	font-family: 'Ubuntu', sans-serif; 
	letter-spacing: normal;
	font-weight: 900;
	padding-left: 15px;
	color: #f3f5f8;
	opacity: 0.75;
}

#small-resume:hover{
	opacity: 1;
	transition: 0.5s;
}
/* ==========================================================================
Lists
========================================================================== */
dl, menu, ol, ul { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
menu, ol, ul { padding: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; }
/* ==========================================================================
Embedded content
========================================================================== */
img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }
/* ==========================================================================
Figures
========================================================================== */
figure { margin: 0; }
/* ==========================================================================
Forms
========================================================================== */
form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0;
	padding: 0; white-space: normal; 
	*margin-left: -7px; 
}

button, input, select, textarea { font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle; 
}

button, input { line-height: normal; }

button, html input[type="button"], 
input[type="reset"], input[type="submit"] { 
	-webkit-appearance: button; 
	cursor: pointer; 
	*overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */
	padding: 0; 
	*height: 13px; 
	*width: 13px; 
}

input[type="search"] { 
	-moz-box-sizing: content-box; -webkit-box-sizing: content-box; 
	box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { 
	overflow: auto;
	vertical-align: top; 
}
/* ==========================================================================
Tables
========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }
/* ==========================================================================
Global Styles
========================================================================== */
a { color: #a1a9b0; opacity: 1; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;  word-spacing: 1px;}

a:hover, a:focus { color: #f3f5f8; text-decoration: none; }

p { color: #a1a9b0; opacity: 1; word-spacing: 1px; line-height: 25px; font-size: 14px; }

h2 { font-size: 16px; color: #3dc9b3; opacity: 0.5; text-transform: uppercase; font-weight: bold; }

h2::after { content: "   "; border: solid 1px #3dc9b3; display: block; width: 35px; margin: 25px auto; }

.section-padding { padding: 75px 0 75px; }

.dark-bg { background: #242830; }
.light-bg { background-color: #fff; }

.dark-box { background: #f3f5f8; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; -moz-box-shadow: 0px 3px 0px 0px #f0f2f4; box-shadow: 0px 3px 0px 0px #f0f2f4; }

.light-box { background-color: #f3f5f8; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; -moz-box-shadow: 0px 3px 0px 0px #f0f2f4; box-shadow: 0px 3px 0px 0px #f0f2f4; padding: 10px 0; min-height: 15em;}

.light-box:hover, .light-box:focus { -webkit-box-shadow: 0px 3px 0px 0px #f3f5f8; -moz-box-shadow: 0px 3px 0px 0px #f3f5f8; box-shadow: 0px 3px 0px 0px #f3f5f8; }

.box-hover { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; border-radius: 5px;}

.box-hover:hover, .box-hover:focus { transform: translate(0, 0); -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); }

.wrapper { height: 650px; }

.nopadding { padding: 0; }

.inner { padding-top: 10px; }

.inner, .fadeInUp{ 
	padding-left: 5px;
	padding-right: 5px;  
	font-size: 2em; 
	color: #f3f5f8; 
	opacity: 0.5;
	font-family: 'Syne', sans-serif;
	line-height: 0.8em;
}

#main-title{
	 padding: 0.1em;
	 padding-top: 2em;
	 
	 font-size: 3em; 
	 font-weight: 900; 
	 font-family: 'Ubuntu', sans-serif; 
	 
	 letter-spacing: -0.05em; 
	 color: #f3f5f8; 
	 opacity: 0.65;
	 line-height: 0.7em;
	 -webkit-animation: bounce-out-right 2.5s reverse both;
	 animation: bounce-out-right 2.5s reverse both;
}

@-webkit-keyframes bounce-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}5%{-webkit-transform:translateX(30px);transform:translateX(30px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}15%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}25%{-webkit-transform:translateX(38px);transform:translateX(38px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}52%{-webkit-transform:translateX(80px);transform:translateX(80px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}85%{opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}@keyframes bounce-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}5%{-webkit-transform:translateX(30px);transform:translateX(30px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}15%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}25%{-webkit-transform:translateX(38px);transform:translateX(38px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}52%{-webkit-transform:translateX(80px);transform:translateX(80px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}85%{opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}


#portfolio-title{
	color: #3dc9b3;
	opacity: 0.75;
	line-height: 1.05em;
	animation: tracking-in-contract 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-contract {
	0% {
	  letter-spacing: 1em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.45;
	}
	100% {
	  letter-spacing: -0.025em;
	  opacity: 0.75;
	}
  }
  
.bottom-section{ 
	height: 5vh; 
	color: #3dc9b3; 
}
/* =========================================================================
Navigation
========================================================================== */
nav { 
	/* background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  */
		
	background-repeat: no-repeat; background-size: cover; margin-top: 0; margin-bottom: 0;  top:0; left: 0; width: 100%; background-attachment: fixed; padding:1em; 	
	vertical-align: text-top;
}

nav a { opacity: 0.75; text-transform: uppercase; color:#f3f5f8; display: inline-block; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; vertical-align: top; opacity: 0.8;}

nav a:hover, nav a:focus { text-decoration: none; color: #f3f5f8; transition: 1s; opacity: 1;} 

#nav-toggle { position: absolute; right: 5px; top: 0; border: none;}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; border: none;}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { cursor: pointer; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; height: 5px; width: 35px; background: #f3f5f8; position: absolute;  display: block; content: '';}

#nav-toggle span:before { top: -10px; }

#nav-toggle span:after { bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }

#nav-toggle.active span { background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }

#nav-toggle.active span:before { transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }

#nav-toggle.active span:after { transform: translateY(-10px) rotate(-45deg); -webkit-transform: translateY(-10px) rotate(-45deg); -ms-transform: translateY(-10px) rotate(-45deg); top: 10px; }

.navicon { position: relative; height: 26px; opacity: 0.5;}

.indicator { position: absolute; right: 0 !important; }

.pull {position: fixed; z-index: 100; 
	vertical-align: text-top;
	text-align: center;
	

 }

.pull i{font-size: 2em; padding-left:0.1em ; padding-right: 0.1em; color: #f3f5f8; opacity: 0.75;}

.pull a{ font-weight: 900; font-size: 0.9em; opacity: 0.5; padding: 0.3em; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.1em;}

.pull a:hover {opacity: 1; color: #f3f5f8; transition: 1s;}
/* ==========================================================================
Hero
========================================================================== */
.hero ,.container { padding-right: 30px; padding-left: 30px; padding-top: 90px;}

.hero { 
	
	background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 30px 0 30px 0; min-height: 100vh; background-attachment: fixed;}


.video-container {
    position: fixed;
}

.color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
}

.hero h1 { letter-spacing: 6px; margin: 5px; font-weight: 900;}

.hero h1 span { color: #f3f5f8; display: inline-block; }

.hero p { opacity: 0.7;  font-size: 1em; font-weight: 500;  line-height: 2em;  }

.learn-more-btn { background: #f3f5f8; color: #000000; opacity: 0.5; padding: 5px 10px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; color: #000000; text-transform: uppercase; letter-spacing: 0.3em; display: inline-block;  font-weight: 900; margin-top: 5px; width: 15em;}

.learn-more-btn:hover, .learn-more-btn:focus { background: #3dc9b3; color: #000000; opacity: 0.75;}

.btn-up-down { background: #242830; padding: 10px 20px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 1px; display: inline-block; margin: 0 0 0; font-weight: bold; }

.btn-up-down:hover, .btn-up-down:focus { background: rgb(212, 212, 212); color: rgba(20, 20, 20, 0.699); }

.arrow-down i{
	font-size: 1.5em;
	line-height: 0.5em;
	color: #f0f2f4; 
	animation-duration: 3s;
 	animation-name: slidein;
	animation-iteration-count: infinite;
}

.arrow-down i:hover {	
	color: #f0f2f4; 
}

@keyframes slidein {
	0% {
	  opacity: 0.2;
	}
	50% {
	  opacity: 0.4;
	}
	100% {
	  opacity: 0.6;
	}
}

#top-nav{
    background-color:#000;
    transition: 1s;
    opacity: 0.5;
	padding: 250px 10px;
	height: 100vh;
	
}

#logo{
	font-size: 20px;
	transition: 1s;
}

/* ==========================================================================
Intro
========================================================================== */
.intro { background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 50px 0 50px 0; min-height: 100vh; background-attachment: fixed;}

.intro p { margin: 30px 0 0; opacity: 0.75;}

.LI-profile-badge{ margin-top: 30px; } 

h1.arrow { font-size: 18px; text-transform: uppercase; color: #f0f2f4; opacity: 0.5; letter-spacing: 1px; padding-bottom: 1em; font-weight: 900; font-family: 'Ubuntu', sans-serif; 
}
.next-section{
	font-family: 'Ubuntu', sans-serif; 
	color: #a1a9b0;
	opacity: 0.75;
}

.freelance-badge{ margin: 50px;}

.freelance-badge a{ padding: 0px; margin: 15px;}

.freelance-badge img {margin-bottom: 30px;} 
/* ==========================================================================
Features
========================================================================== */
.features { background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 50px 0 50px 0; min-height: 100vh; background-attachment: fixed;}

.features-wrapper, .team-wrapper { padding-top: 3em; }

.features-wrapper .service-box{ padding: 2em; border-radius: 5px; opacity: 0.75;}

.features-wrapper .service-box:hover {box-shadow: 0.5px 0.5px 10px 0.5px #a1a9b0; transition: 1s; background-color: transparent;  }

.icon { height: 150px; width: 150px; line-height: 150px; max-width: 100%; opacity: 0.5; background: #3dc9b3; border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: block; color: #fff; font-size: 60px; text-align: center; vertical-align: middle; position: relative; margin: 0 auto; }
/* ==========================================================================
blog Section
========================================================================== */
/* ==========================================================================
Swag
========================================================================== */

.swag h1 {
	color: #3dc9b3 !important;
	animation: infinite;
	animation-name: qt-think;  animation-duration: 5s ; 
	animation-timing-function: ease-out; 
}	

@keyframes qt-think{		
		0% {
			opacity: 0.75;	
		}	
		50% {
			opacity: 0.25;	
		}
		100% {
		  
			opacity: 0.75;	
		}
	  }

.swag h1 { color: #fff; font-size: 40px; text-transform: uppercase; letter-spacing: 8px; opacity: 0.7; }

.swag h1 span { display: block; font-size: 25px; margin-top: 20px; }

.down-arrow-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: rgba(61, 201, 179, 0.8); display: inline-block; margin: 10px auto 20px; color: #fff; font-size: 16px; line-height: 40px; text-align: center; }

.down-arrow-btn:hover, .down-arrow-btn:focus { color: #fff; background: rgba(61, 201, 179, 1); }
/* ==========================================================================
Portfolio
========================================================================== */
.portfolio { 
		background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		padding: 50px 0 50px 0; 
		min-height: 100vh; 
		background-attachment: fixed;
	}

.effects { padding-left: 0px; }

.effects .img { position: relative; margin-bottom: 30px; position: relative; z-index: 1; overflow: hidden; }

.effects .img:nth-child(n) { margin-right: 5px; border-radius: 10px;}

.effects .img:first-child { margin-left: 0; }

.effects .img:last-child { margin-right: 0; }

.effects .img img { display: block; margin: 0; padding: 0; height: auto; }

.overlay { display: block; position: absolute; z-index: 20; overflow: hidden; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }

a.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 900; color: #f3f5f8; line-height: 45px; text-align: center; cursor: pointer; }

a.close-overlay.hidden { display: none; }

a.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #f3f5f8; font-weight: 600; font-size: 16px; text-transform: uppercase; line-height: 30px; opacity: 0.75;}

.overlay-effect .img i { font-size: 1em; }

.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0.85; background: #000000;  border-radius: 5px;  }

.overlay-effect .overlay a.expand { left: 0; right: 0; bottom: 40% ; margin: 0 auto 0 auto;}

.overlay-effect .img.hover .overlay { height: 30%; opacity: 0.85; transition: 1s; bottom: -20px;}

.img img { width: -webkit-calc(100%) !important; width: calc(100% ) !important; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -moz-transition: opacity 0.35s, -moz-transform 0.35s; -o-transition: opacity 0.35s, -o-transform 0.35s; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }

.img:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }

.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }

  
/* ==========================================================================
Subscribe
========================================================================== */
.subscribe { background: url('') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed; padding: 120px 0 140px; }

.subscribe h1 { color: #fff; margin-bottom: 40px; }

.subscribe h1 span { display: block; font-size: 15px; text-transform: uppercase; font-weight: bold; margin-top: 20px; letter-spacing: 1px; }

.subscribe input[type=text] { background-color: rgba(255, 255, 255, 0.1); border: solid 1px #fff; padding: 20px; width: 30%; color: #fff; }

.subscribe input[type=submit] { background: rgba(61, 201, 179, 0.5); border: solid 1px rgba(61, 201, 179, 0.5); padding: 20px; color: #fff; text-transform: uppercase; letter-spacing: 1px; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }

.subscribe input[type=submit]:hover { background: rgba(61, 201, 179, 1); border: solid 1px rgba(61, 201, 179, 1); color: #fff; }
/* ==========================================================================
CTA
========================================================================== */
.ignite-cta { background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 10em; background-attachment: fixed;}

.sch-meeting h1{
	padding-top: 2em;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: #f3f5f8;
	opacity: 0.65;
}

.sch-meeting img{
	padding: 0.1em;
	width: 4em;
	opacity: 0.5;
}

.sch-meeting img:hover{
	opacity: 0.75;
	transition: 1s;
}

.sch-meeting p a{
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	opacity: 0.8;
	font-size: smaller;
	letter-spacing: 0.1em;
	font-weight: 900;
}

.ignite-cta h1 span {font-size: 0.7em; letter-spacing: 0.5em;} 

.ignite-cta h1 { color: #f3f5f8; text-transform: uppercase; padding-bottom: 5px; opacity: 0.8;}

.ignite-btn { display: inline-block; padding: 15px 20px; color: #fff; border: solid 1px #fff; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;}

.ignite-btn:hover, .ignite-btn:focus { color: #3dc9b3; border: solid 1px #3dc9b3; transition: 0.5s;}
/* ==========================================================================
Team
========================================================================== */
.team img { margin-bottom: 40px; }
ul.social-buttons { list-style: none; margin: 0; padding: 0; }
ul.social-buttons li { display: inline-block; margin-right: 5px; }
ul.social-buttons li:last-child { margin-right: 0; }
.social-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: transparent; display: inline-block; color: #f3f5f8; font-size: 17px; line-height: 40px; text-align: center; background-attachment: fixed; opacity: 0.5;}
.social-btn:hover, .social-btn:focus { color: #f3f5f8;  opacity: 1;}
.social { margin-top: 15px }
/* ==========================================================================
Memberships
========================================================================== */
.membership{ background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 5em; background-attachment: fixed; min-height:  50vh; }
.mem-icon{ margin: auto; padding: 20px;}
.buttom-page a{ padding: 30px; margin-bottom: 50px; margin-top: 50px;}
.buttom-page img{ margin-bottom: 20px; margin-top: 20px;}
.link-up-down a{color: #f0f2f4; }
.link-up-down a:hover{color: #3dc9b3; transition: 0.5s; }
/* ==========================================================================
Contact
========================================================================== */
.up-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: rgba(61, 201, 179, 0.5); display: block; margin: 0 auto; color: #fff; font-size: 18px; line-height: 46px; text-align: center; position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }

.up-btn:hover, up-btn:focus { color: #f3f5f8; background: rgba(61, 201, 179, 1); }

.contact-details { margin: 10px 0; }

.contact-details h2 { font-size: 50px; color: #575d61;}

.contact-details h2 span { display: block; color: #3dc9b3; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; margin-top: 15px; }

.contact-wrap { position: relative; }

.contact-info{ max-width: 75%; max-height: 60%; margin: 0 auto;}
/* ==========================================================================
Footer
========================================================================== */
footer { background: url('../img/ws_Clean_Windows_8_Background_1920x1200.png');  
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		background-attachment: fixed;
	}

footer { 
	padding: 0.5em 0 0.5em; 

	}

footer p { 
	color: #f3f5f8;  
	opacity: 0.75;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 0.8em;
	}

footer .container {
	padding-top: 5px;
}

ul.legals { 
	list-style: none; 
	color: #fff; 
	line-height: 25px;
	}

ul.legals li { display: inline-block; }

ul.legals li::after { content: " |"; }

ul.legals li:last-child::after { content: ""; }

.legals { text-align: left; }

.credit { text-align: right; }

.footer-title { font-size: 1.4em; text-transform: uppercase; letter-spacing: 0.1em;}

.bottom-link a{ text-transform: uppercase; padding-left: 5px; }
/* ==========================================================================
FlexSlider Custom CSS
========================================================================== */
#servicesSlider { margin-top: 20px; }

ul.slides li { margin-bottom: 20px;  margin-top: 30px;}
/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }

.delay-05s { animation-delay: 1s; -webkit-animation-delay: 1s; }

.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }

.wp3 { background: url('../img/process5.png') no-repeat center center; background-position: 200px 10px; height: 100%; }